{% extends 'main/layout.html' %}

{% block title %}News at the Site{% endblock %}

{% block content %}
    <div class="features">
        <h1>News at the Site</h1>
        {% if news %}
            {% for i in news %}
                <div class="alert alert-warning">
                    <h3>{{ i.title }}</h3>
                    <p>{{ i.announcement }}</p>
                </div>
            {% endfor %}
        { % else %}
            <p>You have no News</p>
        {% endif %}
    </div>
{% endblock %}