{% extends 'main/layout.html' %}

{% block title %}About Us page{% endblock %}

{% block content %}
    <div class="features">
        <h1>ABOUT page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut blanditiis consequuntur dolor eum excepturi exercitationem facilis id ipsam necessitatibus obcaecati omnis pariatur quia quibusdam reiciendis rem, repellat sit voluptatem?</p>
        <button class="btn btn-danger">To another page</button>
    </div>
{% endblock %}
